<div id="breadcrumb">
    <div class="container">
        <h2 class="title">{{ sanPham?.tenSanPham }}</h2>

        <ul class="breadcrumb">
            <li><a [routerLink]="['/']" title="Trang chủ">Trang chủ</a></li>
            <li><a [routerLink]="['/productCategory', sanPham?.loaiSanPhamId]" title="Fruit">{{ tenLoai }}</a></li>
            <li><span>{{ sanPham?.tenSanPham }}</span></li>
        </ul>
    </div>
</div>


<div class="container">
    <div class="product-detail">
        <div class="products-block layout-5">
            <div class="product-item">
                <div class="product-title">
                    {{ sanPham?.tenSanPham }}
                </div>

                <div class="row">
                    <div class="product-left col-md-4 col-sm-4 col-xs-12">
                        <div class="product-image horizontal">
                            <p-galleria [value]="Images" [responsiveOptions]="responsiveOptions" [numVisible]="4"
                                [(activeIndex)]="activeIndex">
                                <ng-template pTemplate="item" let-item>
                                    <img src="{{ baseUrl }}/Uploads/Products/{{ item?.image
                                    }}" style="width: 100%;" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="grid grid-nogutter justify-content-center" style="margin-right: 10px">
                                        <img src="{{ baseUrl }}/Uploads/Products/{{ item?.image
                                        }}" style="width: 100%;" />
                                    </div>
                                </ng-template>
                            </p-galleria>
                        </div>
                    </div>

                    <div class="product-right col-md-5 col-sm-4 col-xs-12">
                        <div class="product-info">
                            <div class="product-price" *ngIf="sanPham?.giamGia > 0">
                                <span class="sale-price">{{ sanPham?.giaBan - sanPham?.giamGia |
                                    number}}</span>
                                <span class="base-price">{{ sanPham?.giaBan | number}}</span>
                            </div>
                            <div class="product-price" *ngIf="sanPham?.giamGia == 0">
                                <span class="sale-price">{{ sanPham?.giaBan | number}}</span>
                            </div>


                            <div style="margin-bottom: 45px;"></div>

                            <div class="product-add-to-cart border-bottom">
                                <div class="product-quantity">
                                    <span class="control-label">SL :</span>
                                    <div class="qty">
                                        <div class="input-group">
                                            <input type="text" name="qty" [value]="quantity" min="0">
                                            <span class="adjust-qty">
                                                <span class="adjust-btn plus" (click)="increment()">+</span>
                                                <span class="adjust-btn minus" (click)="decrement()">-</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-buttons">
                                    <a class="add-to-cart" (click)="addToCart(sanPham)">
                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                        <span>Thêm vào giỏ</span>
                                    </a>

                                    <a class="add-wishlist" href="javascript:void">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div style="margin-bottom: 65px;"></div>
                            </div>


                            <div class="product-share border-bottom">
                                <div class="item">
                                    <a href="javascript:void"><i class="zmdi zmdi-share" aria-hidden="true"></i><span
                                            class="text">Share</span></a>
                                </div>
                                <div class="item">
                                    <a href="javascript:void"><i class="zmdi zmdi-email" aria-hidden="true"></i><span
                                            class="text">Send to a friend</span></a>
                                </div>
                                <div class="item">
                                    <a href="javascript:void"><i class="zmdi zmdi-print" aria-hidden="true"></i><span
                                            class="text">Print</span></a>
                                </div>
                            </div>
                            <div style="margin-bottom: 35px;"></div>

                            <div class="product-review border-bottom">
                                <div class="item">
                                    <div class="product-quantity">
                                        <span class="control-label">Review :</span>
                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <a href="javascript:void"><i class="zmdi zmdi-comments" aria-hidden="true"></i><span
                                            class="text">Read Reviews (3)</span></a>
                                </div>

                                <div class="item">
                                    <a href="javascript:void"><i class="zmdi zmdi-edit" aria-hidden="true"></i><span
                                            class="text">Write a review</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="payment-intro col-md-3 col-sm-4 col-xs-12">
                        <div class="block-content">
                            <div class="item">
                                <img class="img-responsive" src="assets/Client/img/home2-payment-1.png"
                                    alt="Payment Intro">
                                <h3 class="title">Miễn phí giao hàng</h3>
                                <div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="assets/Client/img/home2-payment-2.png"
                                    alt="Payment Intro">
                                <h3 class="title">Thanh toán an toàn</h3>
                                <div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="assets/Client/img/home2-payment-3.png"
                                    alt="Payment Intro">
                                <h3 class="title">Đảm bảo hoàn tiền</h3>
                                <div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="product-tab">
                    <!-- Tab Navigation -->
                    <div class="tab-nav">
                        <ul>
                            <li class="active">
                                <a data-toggle="tab" href="#description">
                                    <span>Mô tả</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content">
                        <!-- Description -->
                        <div role="tabpanel" class="tab-pane fade in active" id="description">
                            <p [innerHTML]="sanPham?.moTa"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Related Products -->
    <div class="products-block related-products item-4">
        <div class="block-title">
            <h2 class="title">sản phẩm <span>Tương tự</span></h2>
        </div>

        <div class="block-content">
            <p-carousel [value]="sanPhams" [numVisible]="4" [numScroll]="4" [circular]="true" [autoplayInterval]="7000"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-item pTemplate="item">
                    <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                        <div class="product-item">
                            <div class="product-image">
                                <a [routerLink]="['/productDetail', item.id]">
                                    <img width="182" src="{{ baseUrl }}/Uploads/Products/{{ item.image }}"
                                        alt="{{ item.tenSanPham }}">
                                </a>
                            </div>

                            <div class="product-title">
                                <a [routerLink]="['/productDetail', item.id]">
                                    {{ item.tenSanPham }}
                                </a>
                            </div>

                            <div class="product-rating">
                                <div class="star on"></div>
                                <div class="star on"></div>
                                <div class="star on "></div>
                                <div class="star on"></div>
                                <div class="star"></div>
                            </div>

                            <div class="product-price" *ngIf="item.giamGia > 0">
                                <span class="sale-price">{{ item.giaBan - item.giamGia |
                                    number}}</span>
                                <span class="base-price">{{ item.giaBan | number}}</span>
                            </div>
                            <div class="product-price" *ngIf="item.giamGia == 0">
                                <span class="sale-price">{{ item.giaBan | number}}</span>
                            </div>

                            <div class="product-buttons">
                                <a class="add-to-cart" (click)="addToCart(item)">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                </a>

                                <a class="add-wishlist" href="javascript:void">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </a>

                                <a class="quickview" href="javascript:void">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
<p-toast></p-toast>