<div id="breadcrumb">
    <div class="container">
        <h2 class="title">Giới thiệu</h2>

        <ul class="breadcrumb">
            <li><a [routerLink]="['/']" title="Home">Trang chủ</a></li>
            <li><span>Giới thiệu</span></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="about-us intro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="intro-header">
                        <h3>Chào mừng đến với FreshMart</h3>
                        <p [innerHTML]="gioiThieu.gioiThieu1"></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="intro-left">
                        <div class="intro-item">
                            <p><img src="assets/Client/img/intro-icon-1.png" alt="Hình ảnh giới thiệu"></p>
                            <h4>Luôn Tươi Mới</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.</p>
                        </div>

                        <div class="intro-item">
                            <p><img src="assets/Client/img/intro-icon-3.png" alt="Hình ảnh giới thiệu"></p>
                            <h4>Cực Kỳ Sạch Sẽ</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="effect">
                        <a href="#">
                            <img class="img-responsive" src="assets/Client/img/intro-1.png" alt="Hình ảnh giới thiệu">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="intro-right">
                        <div class="intro-item">
                            <p><img src="assets/Client/img/intro-icon-2.png" alt="Hình ảnh giới thiệu"></p>
                            <h4>100% Tự Nhiên</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.</p>
                        </div>

                        <div class="intro-item">
                            <p><img src="assets/Client/img/intro-icon-4.png" alt="Hình ảnh giới thiệu"></p>
                            <h4>Chất Lượng Cao Cấp</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>