<div class="container">
    <hr>
</div>

<div class="container BtZOqO">
    <div class="epUsgf">
        <div class="u6SDuY">
            <div class="vDMlrj">
                <div class="HtUK6o">dodinhdiem</div>
                <div>
                    <a class="Kytn1s" [routerLink]="['//profile/account']"><svg width="12" height="12"
                            viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;">
                            <path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48"
                                fill="#9B9B9B" fill-rule="evenodd"></path>
                        </svg>Sửa hồ sơ</a>
                </div>
            </div>
        </div>
        <div class="WDmP96">
            <div class="stardust-dropdown">
                <div class="stardust-dropdown__item-header">
                    <a class="jHbobZ" [routerLink]="['/profile/account']" routerLinkActive="Fqwx5_">
                        <div class="U7dHrp"><img
                                src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4">
                        </div>
                        <div class="mY8KSl"><span class="fnmbfn">Tài khoản của tôi</span></div>
                    </a>
                </div>
            </div>
            <div class="stardust-dropdown stardust-dropdown--open">
                <div class="stardust-dropdown__item-header">
                    <a class="jHbobZ" [routerLink]="['/profile/order']" routerLinkActive="Fqwx5_">
                        <div class="U7dHrp"><img
                                src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078">
                        </div>
                        <div class="mY8KSl"><span class="fnmbfn">Đơn Mua</span></div>
                    </a>
                </div>
                <div class="stardust-dropdown__item-body stardust-dropdown__item-body--open" style="opacity: 1;">
                    <div class="hGOWVP"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="fkIi86">
        <div style="display: contents;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>