<div id="all">
    <!-- Main Content -->
    <div id="content" class="site-content page-404">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 page-left">
                    <div class="title">{{ noiDung }}.</div>
                    <a class="btn btn-primary" [routerLink]="['/']"><i class="fa fa-home"
                            aria-hidden="true"></i><span>Quay
                            lại trang chủ</span></a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 page-right">
                    <div class="image">
                        <img class="img-responsive" style="width: 50%;" src="assets/Client/img/404-right.jpg"
                            alt="Image 404">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>